In [71]:
import pandas as pd

In [72]:
data = pd.read_csv("./anatomia_desarrollo.csv")

In [73]:
data

,Dia,Fecha,Tarea,Categoría,Tiempo,Comentarios
0,1,31-10-2022,Desarrollo,Desarrollo,60,NaN
1,1,31-10-2022,Bug Fixing,Desarrollo,60,Error en producción
2,1,31-10-2022,Reuniones y Llamadas,No Desarrollo,90,Standup y kickoff de actividad
3,1,31-10-2022,Ayuda,No Desarrollo,30,NaN
4,1,31-10-2022,Problemas de entorno,No Desarrollo,120,Update local de Node
...,...,...,...,...,...,...
75,10,11-11-2022,Ayuda,No Desarrollo,0,NaN
76,10,11-11-2022,Problemas de entorno,No Desarrollo,60,Fallas de env de QA
77,10,11-11-2022,Administrativo,No Desarrollo,30,NaN
78,10,11-11-2022,Releases,No Desarrollo,60,Continuacion proceso
79,10,11-11-2022,Ocio y Personal,Personal,60,NaN

## Procesamiento de pivot por tareas:

In [82]:
tareas_pivot = data[["Dia","Fecha", "Tarea", "Tiempo"]].pivot(index=["Dia", "Fecha"], columns="Tarea", values="Tiempo").reset_index()

In [83]:
tareas_pivot

Tarea,Dia,Fecha,Administrativo,Ayuda,Bug Fixing,Desarrollo,Ocio y Personal,Problemas de entorno,Releases,Reuniones y Llamadas
0,1,31-10-2022,30,30,60,60,90,120,30,90
1,2,01-11-2022,60,0,60,60,60,180,30,30
2,3,02-11-2022,30,30,60,240,120,30,0,0
3,4,03-11-2022,60,90,0,180,90,0,0,60
4,5,04-11-2022,30,30,90,90,90,0,0,120
5,6,07-11-2022,30,90,60,150,60,0,0,60
6,7,08-11-2022,60,0,60,150,30,0,180,0
7,8,09-11-2022,30,30,0,150,60,30,150,30
8,9,10-11-2022,60,30,60,180,30,0,60,60
9,10,11-11-2022,30,0,120,60,60,60,60,60

In [84]:
tareas_pivot["Fecha"] = pd.to_datetime(tareas_pivot["Fecha"], format="%d-%m-%Y")

In [85]:
tareas_pivot = tareas_pivot.sort_values(by=['Dia']).set_index('Dia')

In [86]:
tareas_pivot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Fecha                 10 non-null     datetime64[ns]
 1   Administrativo        10 non-null     int64
 2   Ayuda                 10 non-null     int64
 3   Bug Fixing            10 non-null     int64
 4   Desarrollo            10 non-null     int64
 5   Ocio y Personal       10 non-null     int64
 6   Problemas de entorno  10 non-null     int64
 7   Releases              10 non-null     int64
 8   Reuniones y Llamadas  10 non-null     int64
dtypes: datetime64[ns](1), int64(8)
memory usage: 800.0 bytes

In [87]:
tareas_pivot

Tarea,Fecha,Administrativo,Ayuda,Bug Fixing,Desarrollo,Ocio y Personal,Problemas de entorno,Releases,Reuniones y Llamadas
Dia,,,,,,,,,
1,2022-10-31,30,30,60,60,90,120,30,90
2,2022-11-01,60,0,60,60,60,180,30,30
3,2022-11-02,30,30,60,240,120,30,0,0
4,2022-11-03,60,90,0,180,90,0,0,60
5,2022-11-04,30,30,90,90,90,0,0,120
6,2022-11-07,30,90,60,150,60,0,0,60
7,2022-11-08,60,0,60,150,30,0,180,0
8,2022-11-09,30,30,0,150,60,30,150,30
9,2022-11-10,60,30,60,180,30,0,60,60
10,2022-11-11,30,0,120,60,60,60,60,60

In [88]:
tareas_pivot.to_csv("./tareas_pivot.csv")

## Procesamiento de pivot por categorías:

In [89]:
cat_pivot = data[["Dia", "Fecha", "Categoría", "Tiempo"]].groupby(["Dia", "Fecha", "Categoría"]).sum().reset_index()

In [90]:
cat_pivot

    Dia       Fecha      Categoría  Tiempo
0     1  31-10-2022     Desarrollo     120
1     1  31-10-2022  No Desarrollo     300
2     1  31-10-2022       Personal      90
3     2  01-11-2022     Desarrollo     120
4     2  01-11-2022  No Desarrollo     300
5     2  01-11-2022       Personal      60
6     3  02-11-2022     Desarrollo     300
7     3  02-11-2022  No Desarrollo      90
8     3  02-11-2022       Personal     120
9     4  03-11-2022     Desarrollo     180
10    4  03-11-2022  No Desarrollo     210
11    4  03-11-2022       Personal      90
12    5  04-11-2022     Desarrollo     180
13    5  04-11-2022  No Desarrollo     180
14    5  04-11-2022       Personal      90
15    6  07-11-2022     Desarrollo     210
16    6  07-11-2022  No Desarrollo     180
17    6  07-11-2022       Personal      60
18    7  08-11-2022     Desarrollo     210
19    7  08-11-2022  No Desarrollo     240
20    7  08-11-2022       Personal      30
21    8  09-11-2022     Desarrollo     150
22    8  09-11-2022  No Desarrollo     270
23    8  09-11-2022       Personal      60
24    9  10-11-2022     Desarrollo     240
25    9  10-11-2022  No Desarrollo     210
26    9  10-11-2022       Personal      30
27   10  11-11-2022     Desarrollo     180
28   10  11-11-2022  No Desarrollo     210
29   10  11-11-2022       Personal      60

In [91]:
cat_pivot = cat_pivot.pivot(index=["Dia", "Fecha"], columns="Categoría", values="Tiempo").reset_index()
cat_pivot

Categoría  Dia       Fecha  Desarrollo  No Desarrollo  Personal
0            1  31-10-2022         120            300        90
1            2  01-11-2022         120            300        60
2            3  02-11-2022         300             90       120
3            4  03-11-2022         180            210        90
4            5  04-11-2022         180            180        90
5            6  07-11-2022         210            180        60
6            7  08-11-2022         210            240        30
7            8  09-11-2022         150            270        60
8            9  10-11-2022         240            210        30
9           10  11-11-2022         180            210        60

In [92]:
cat_pivot["Fecha"] = pd.to_datetime(cat_pivot["Fecha"], format="%d-%m-%Y")
cat_pivot = cat_pivot.sort_values(by=['Dia']).set_index('Dia')
cat_pivot

Categoría      Fecha  Desarrollo  No Desarrollo  Personal
Dia
1         2022-10-31         120            300        90
2         2022-11-01         120            300        60
3         2022-11-02         300             90       120
4         2022-11-03         180            210        90
5         2022-11-04         180            180        90
6         2022-11-07         210            180        60
7         2022-11-08         210            240        30
8         2022-11-09         150            270        60
9         2022-11-10         240            210        30
10        2022-11-11         180            210        60

In [93]:
cat_pivot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 1 to 10
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fecha          10 non-null     datetime64[ns]
 1   Desarrollo     10 non-null     int64
 2   No Desarrollo  10 non-null     int64
 3   Personal       10 non-null     int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 400.0 bytes

In [94]:
cat_pivot.to_csv("./categorias_pivot.csv")